<section class="verb-body">
    <div class="container-xxl">
        <h1 class="mt-2 text-center">3 форми {{verb.infinitive}}</h1>
        <h2 class="mt-2 text-center">Форми неправильного дієслова {{verb.infinitive}}</h2>
        <div class="text-center d-sm-block d-md-flex justify-content-between">
            <div class="infinitive alert alert-warning me-md-1">
                <h3>Перша форма неправильного дієслова {{verb.infinitive}}:</h3>
                <span class="fw-light">Infinitive (V1)</span>
                <hr>
                <span class="fw-bold">{{verb.infinitive}}</span>
                <span>{{verb.infinitivePronunciation}}</span>
            </div>
            <div class="pastSimple alert alert-info me-md-1">
                <h3>Друга форма неправильного дієслова {{verb.infinitive}}:</h3>
                <span class="fw-light">Past Simple (V2)</span>
                <hr>
                <span class="fw-bold">{{verb.pastSimple}}</span>
                <span>{{verb.pastSimplePronunciation}}</span>
            </div>
            <div class="pastParticiple alert alert-danger">
                <h3>Третя форма неправильного дієслова {{verb.infinitive}}:</h3>
                <span class="fw-light">Past Participle (V3)</span>
                <hr>
                <span class="fw-bold">{{verb.pastParticiple}}</span>
                <span>{{verb.pastParticiplePronunciation}}</span>
            </div>
        </div>
        <div class="translation alert alert-success text-center">
            <h3>Переклад неправильного дієслова {{verb.infinitive}}:</h3>
            <hr>
            <span class="fw-bold">{{verb.translation}}</span>
        </div>
        <div class="details alert alert-secondary">
            <h3>Все про слово {{verb.infinitive}}:</h3>
            <hr>
            <h4>{{verb.infinitive}} є правильним чи неправильним дієсловом?</h4>
            <p><span class="fw-bold">{{verb.infinitive}}</span> належить до неправильних дієслів.</p>
            <hr>
            <h4>Як перекладається {{verb.infinitive}}?</h4>
            <p>Англійське дієслово <span class="fw-bold">{{verb.infinitive}}</span>, перекладається як <span class="fw-bold">{{verb.translation}}</span>.</p>
            <hr>
            <h4>Коли і яку форму слова {{verb.infinitive}} потрібно використовувати?</h4>
            <ul>
                <li>Перша форма <span class="fw-bold text-warning">{{verb.infinitive}}</span> використовується в Present simple, Future Simple.</li>
                <li>Друга форма <span class="fw-bold text-info">{{verb.pastSimple}}</span> використовується в Past simple.</li>
                <li>Третя  форма <span class="fw-bold text-danger">{{verb.pastParticiple}}</span> використовується в Present perfect, Past perfect.</li>
            </ul>
            <p>{{verb.infinitive}} в past simple буде {{verb.pastSimple}}. (V2)</p>
            <p>{{verb.infinitive}} в future simple буде {{verb.infinitive}} . (will + V1)</p>
            <p>{{verb.infinitive}} в present perfect буде {{verb.pastParticiple}}. (have/has + V3)</p>
            <p>{{verb.infinitive}} в past perfect буде {{verb.pastParticiple}}. (had + V3)</p>
        </div>
    </div>
</section>
